body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #8b4513; /* Cokelat Kopi Mania */
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #a0522d;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #8b4513;
    color: white;
    text-align: center;
    padding: 10px;
}